**__pycache__


# Directories
results
dataset/
val2017/
train2017/
outputs/
input_static/
inputs/
outputs*/
lambda_res/
faiss_rand/


# Files
#*.sbatch
*.log
.env
*.zip
descriptor.json
*.json
*.sbatch
*.sh

# swap files
*.swp
*.pyc